*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

summary::-webkit-details-marker {
    display: none;
    content: '';
}


details::-webkit-details-marker{
    display: none;
}